*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

.nav{
    display: flex;
    text-decoration: none;
    position: sticky;
    z-index: 999;
    margin-left: 103px;
    left: auto;
}

.nav-item{
    padding: 1rem;
    list-style-type: none;
    text-decoration: none;

}

.nav a{
    text-decoration: none;
}

.nav-item h1{
    display:flex;
    
}


.nav-item img{
    width: 24px;
    height: auto;
}

.nav div img{
    width: 10px;
    height: auto;
}

.headerlogoleft{
    display: flex;
    list-style-type: none;
    padding-top: .2%;
    padding-left: 25px;
}

.headerlogoimage{
    display: flex;
    list-style-type: none;
    padding-top: .1%;
}

.headerlogoimage img{
   
    height: auto;
}


.headerlogoright{
    display: flex;
    list-style-type: none;
    padding-top: .2%;
    padding-right: 25px;
}


.nav form img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.potteryhands{
    margin: 3%;
    position: relative;
}

.potteryhands img{
    background-size: 100% 100%;

}

.firsttext{
    color: white;
    position: absolute;
    top: 17px;
    left: 50px;
}

.secondtext{
    color: white;

    position: absolute;
    bottom: 20px;
    left: 10px;
}

.flexcontainer{
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: 10px;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flexcontainer img{
    max-width: 398px;
    max-height: 398px;
}

.pedra__vase{
    max-width: 398px;
    max-height: 398px;
}