*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    margin-left: 2%;
    margin-right: 2%;
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

body{
    background-color: white;
    border: 90%;
    
}

main{
    padding-left: 370px;
    padding-right: 250px;
}

.nav{
    display: flex;

    position: fixed;
    top: 0;
    padding-left: 365px;
    font-size: 20px;
    background-color: white;
    width: 100%;
    
}

.nav-item{
    padding: 1rem;
    list-style-type: none;
    text-decoration: none;

}

.nav a{
    text-decoration: none;
}

.nav-item h1{
    display:flex;
    
}


.nav-item img{
    width: 24px;
    height: auto;
}



.headerlogoleft{
    display: flex;
    list-style-type: none;
    padding-top: .2%;
    padding-left: 220px;
    font-size: 30px;
    font-weight: 600;
    
}

.headerlogoimage{
    display: flex;
    list-style-type: none;
    padding-top: 0%;
}

.headerlogoimage img{
   
    height: auto;
}


.headerlogoright{
    display: flex;
    list-style-type: none;
    padding-top: .2%;
    padding-right: 315px;
    font-size: 30px;
    font-weight: 600;
}


.nav form img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.potteryhands{
    position:static;
}

.potteryhands img{
    margin-top: 10%;
    width: 100%;

}

.firsttext{
    color: white;
    position: relative;
    top: 17px;
    left: 50px;
}

.secondtext{
    color: white;

    position: relative;
    bottom: 20px;
    left: 10px;
}

.horizontal__line{
    background-color: black;
    width: 50%;
    height: 5px;
    margin-top: 1%;
    margin-bottom: 4%;
}


.about{
    font-size: 20px;
}

.about__us{
    font-size: 45px;
}

.vase__dame img{
    float: left;
}

.cylinder__unglazed img{
    float: right;
}

.our__products{
    font-size: 45px; 
}

.product__line{
    background-color: black;
    width: 55%;
    height: 5px;
    margin-top: 1%;
    margin-bottom: 5%;
}

.product__name{
    display: flex;
    list-style-type: none;
}

.product__name-item{
    padding-right: 190px;
}



.flexcontainer{
    display: grid;
    grid-template-columns: fit-content(300px) fit-content(300px) fit-content(300px);
    grid-gap: 100px;
    font-size: 20px;
    
}


.flexcontainer img{
    max-width: 398px;
    max-height: 398px;
}

.pedra__vase{
    max-width: 398px;
    max-height: 398px;
}

.learn__more{
    color: #bf7631;
    padding-right: 155px;   
    margin-top: 5%;
}

.add__cart{
    background-color: #bf7631;
    color: white;
    text-decoration: none;
    font-weight:bold;
    font-size: 15px;
    padding: 8px;
    margin-top: 5%;
    
}

.contact__us{
    font-size: 45px;
}

.email{
    font-size: 30px;
}

.line__one{
    width: 800px;
    height: 70px;
    border: 1px solid black;
    background: transparent;    
}

.line__two{
    width: 800px;
    height: 250px;
    border: 1px solid black;
    background: transparent;  
    margin-bottom: 30px;  
}

.message{
    font-size: 30px;
}

.send{
    background-color: #bf7631;
    color: white;
    text-decoration: none;
    font-weight:bold;
    font-size: 15px;
    padding: 8px;
    margin-top: 10%;
    margin-left: 750px;
}

.footer{
    background-color: #bf7631;
    width: 100%;
    border-left: 100%;
    margin-top: 30px;
}


